@if(userAuthenticated === true) {
<ul>
  <div class="dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        class="img-profile rounded-circle"
        src="../../../assets/avatar.png"
      />
      <br />
      <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{
        userName
      }}</span>
    </a>

    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="#"
          ><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile</a
        >
      </li>
      <div class="dropdown-divider"></div>
      <li>
        <a class="dropdown-item" href="#"
        data-bs-toggle="modal"
        data-bs-target="#logoutModal"
          ><i
            class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
          ></i
          >Logout</a
        >
      </li>
    </ul>
  </div>
</ul>

} 

<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  aria-labelledby="logoutModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="logoutModalLabel">Confirm Logout</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Click "Logout" if you realy want to logout</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          href="javascript:void(0)"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</div>